/* 
    MAIN :

    SECTION SERVICES
*/
::selection {
    background-color: rgb(250, 100, 100);
    color: white;
}
section.services {
  display: block;
  margin: 100px 0 50px 0;
  background-color: #ffffff;
}
section .sub-heading {
  font-size: 16px;
  display: flex;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
}

section .sub-heading::after {
  content: "";
  height: 1px;
  background-color: rgb(150, 150, 150);
  width: 100px;
  margin: auto 10px;
}

section .heading {
  font-size: 45px;
  margin: 20px 0 0 0;
}

.services .row:not(:last-child) {
  margin: 0 0 100px 0;
}
.services__item {
  display: flex;
  margin-bottom: 80px;
  transition: all 0.2s ease-in-out;
}
.services__item h3,
.services__item p {
  transition: all 0.2s ease-in-out;
}
.services__item:hover h3,
.services__item:hover p {
  color: rgb(250, 100, 100);
}
.services__item img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  margin: 0 20px 0 0;
  filter: contrast(50%);
}
.services__item h3 {
  font-size: 16pt;
}
.services__item p {
  color: rgb(150, 150, 150);
  font-size: 10pt;
}

/* END OF : SECTION SERVICES */

/* SECTION ROOMS */
section.rooms {
  background-color: rgb(250, 250, 250);
  padding: 70px 0;
}
section .container-md {
  padding-left: 0;
  padding-right: 0;
}
.rooms-container {
  display: block;
  position: relative;
}
.rooms .description {
  width: 50%;
  color: rgb(150, 150, 150);
  line-height: 25px;
}
.rooms .heading {
  margin-bottom: 40px;
}
.card-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0;
  margin: 30px 0;
  scroll-behavior: smooth;
}

.card-1 {
  border: none;
  margin-bottom: 70px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-1 * {
  transition: all 0.2s ease-in-out;
}
.card-1 .image-container {
  height: 30%;
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.card-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-1 ul li {
  list-style-type: none;
  color: rgb(150, 150, 150);
  margin: 10px 0;
}
.card-1 ul {
  padding: 0;
}
.card-1 h3 {
  font-size: 30px;
  margin: 0 0 30px 0;
  cursor: pointer;
}
.card-1 .card-inner {
  padding: 30px 20px 20px 30px;
}
.card-1 .card__cost {
  font-size: 50px;
  font-weight: lighter;
  cursor: pointer;
}
.card-1 .card__cost small {
  font-size: 20px;
  color: rgb(150, 150, 150);
}
.card-1:hover li {
  color: black;
}
.card-1:hover h3 {
  color: rgb(255, 80, 80);
}
.card-1:hover img {
  filter: brightness(80%);
  transform: scale(1.01);
}
.card-slider::-webkit-scrollbar {
  height: 10px;
}
.card-slider::-webkit-scrollbar-track {
  background: #ffffff;
}
.card-slider::-webkit-scrollbar-thumb {
  background: rgb(220, 220, 220);
  opacity: 0.3;
}
.card-slider::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.rooms-container .back-btn,
.rooms-container .next-btn {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50% !important;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}
.rooms-container .back-btn:hover,
.rooms-container .next-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.rooms-container .next-btn {
  right: 0%;
}

/* END OF SECTION ROOMS */

/* SECTION RESTAURANT */
section.restaurant {
  background-color: rgb(250, 250, 250);
  padding: 70px 0 200px 0;
}
.restaurant-options {
    margin: 50px 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100px;
}
.restaurant-btn {
    width: 100%;
    font-size: 18px;
    color: rgb(150, 150, 150);
    background: none;
    border: none;
    border-bottom: 1px rgb(150, 150, 150) solid;
    padding: 50px auto;
    text-transform: uppercase;
    font-weight: lighter;
    transition: all 0.2s ease-in-out;
    letter-spacing: 2px;
}
.restaurant-btn:hover {
    filter: brightness(50%);
}
.restaurant-btn.active {
    border-color: rgb(255, 50, 50);
    border-width: 2px;
    color: rgb(255, 50, 50);
}
.restaurant__menu {
    display: block;
    width: 100%;
}
.restaurant__tab {
    display: none;
    width: 100%;
    gap: 20px;
    flex-wrap: nowrap;
    background: none;
}
.restaurant__tab.show {
    display: flex;
}

.restaurant__menu .card-2 {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}
.restaurant__tab .image-container {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.restaurant__tab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.restaurant__menu .card-info {
    padding: 30px;
}
.restaurant__menu .card-cost {
    font-size: 40px;
}
.restaurant__menu .card-cost small {
    font-size: 25px;
    color: rgb(150, 150, 150);
}

/* END OF : SECTION RESTAURANT */


/* BANNER */
main .banner {
    position: relative;
    /* margin: 50px 0 0 0; */
    height: 80vh;
    width: 100%;
    padding: 0;
    background: url(https://preview.colorlib.com/theme/brighthotel/images/xbg_2.jpg.pagespeed.ic.4VF9hYXYfd.webp);
    background-position: 0;
    /* background-size: 150%; */
    background-position: center center;
}
#banner-1>div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
#banner-1 h2 {
    letter-spacing: 2px;
    font-size: 70px;
    max-width: 50vw;
}
/* END OF : BANNER */

/* SECTION : REVIEW */
section.review {
    margin: 0 0 90px 0;
    padding: 200px 0 150px 0;
    background-color: rgb(250, 250, 250);
}

.review-container {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}
.review-container .reviewer {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
}
.review-container .reviewer small {
    color: rgb(150, 150, 150);
}
.reviewer .image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
} 
.reviewer .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reviewer-info {
    height: fit-content;
    margin: 0 0 0 20px;
}
.reviewer-info h4 {
    margin: 0;
}
.review .card-3 {
    padding: 30px;
    width: 100%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
/* END OF SECTION : REVIEW */


.item-move-up {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.6s ease-in-out;
}
.rooms .item-move-up {
    transition-delay: 1s;
    transition: all 1s ease-in-out;
    transform: translate(0, 50vh);
}